<a href="https://colab.research.google.com/github/viviennejuma/NaiveBayes-x-KNN/blob/main/Spambase_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn import metrics
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
from sklearn.model_selection import train_test_split

In [2]:
spamdata = pd.read_csv('spambase.data', header=None)
spamdata.head()

     0     1     2    3     4     5   ...     52     53     54   55    56  57
0  0.00  0.64  0.64  0.0  0.32  0.00  ...  0.000  0.000  3.756   61   278   1
1  0.21  0.28  0.50  0.0  0.14  0.28  ...  0.180  0.048  5.114  101  1028   1
2  0.06  0.00  0.71  0.0  1.23  0.19  ...  0.184  0.010  9.821  485  2259   1
3  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.000  0.000  3.537   40   191   1
4  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.000  0.000  3.537   40   191   1

[5 rows x 58 columns]

In [3]:
attr = spamdata[spamdata.columns[0:57]]

In [4]:
attr.head()

     0     1     2    3     4     5   ...     51     52     53     54   55    56
0  0.00  0.64  0.64  0.0  0.32  0.00  ...  0.778  0.000  0.000  3.756   61   278
1  0.21  0.28  0.50  0.0  0.14  0.28  ...  0.372  0.180  0.048  5.114  101  1028
2  0.06  0.00  0.71  0.0  1.23  0.19  ...  0.276  0.184  0.010  9.821  485  2259
3  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.137  0.000  0.000  3.537   40   191
4  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.135  0.000  0.000  3.537   40   191

[5 rows x 57 columns]

In [5]:
spamdex = spamdata[spamdata.columns[57]]

In [6]:
type(spamdex)

pandas.core.series.Series

## Split the data and results into testing and training data
## 80 -20

In [7]:
# 60% training and 40% test
X_train, X_test, y_train, y_test = train_test_split(attr, spamdex, test_size=0.2, random_state=1)

## Create instance of Naive Bayes Multinomial model

In [8]:
nb = MultinomialNB()

##Fit the training data to the model

In [9]:
nb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

##Create a prediction object based on the test data

In [10]:
y_pred = nb.predict(X_test)

##Measure the accuracy of your predicted outcomes against your test data outcomes

In [11]:
metrics.accuracy_score(y_test, y_pred)

0.7785016286644951

In [12]:
#K-Fold cross-validation

from sklearn.model_selection import cross_val_score

In [13]:
scores = cross_val_score(nb, attr, spamdex, cv=10, scoring='accuracy')
print(scores)

[0.79175705 0.79347826 0.80869565 0.83478261 0.82826087 0.77826087
 0.77826087 0.81304348 0.69347826 0.74347826]

In [14]:
scores.mean()

0.7863496180326323

##Split the data and results into testing and training data
##70 - 30

In [15]:
# 70% training and 30% test
X_train, X_test, y_train, y_test = train_test_split(attr, spamdex, test_size=0.3, random_state=1)

##Create instance of Naive Bayes Multinomial model

In [16]:
nb = MultinomialNB()

##Fit the training data to the model

In [17]:
nb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

##Create a prediction object based on the test data

In [18]:
y_pred = nb.predict(X_test)

##Measure the accuracy of your predicted outcomes against your test data outcomes

In [19]:
metrics.accuracy_score(y_test, y_pred)

0.7856625633598842

In [20]:
#K-Fold cross-validation

from sklearn.model_selection import cross_val_score

In [21]:
scores = cross_val_score(nb, attr, spamdex, cv=10, scoring='accuracy')
print(scores)

[0.79175705 0.79347826 0.80869565 0.83478261 0.82826087 0.77826087
 0.77826087 0.81304348 0.69347826 0.74347826]

In [22]:
scores.mean()

0.7863496180326323

## Split the data and results into testing and training data
## 60 - 40

In [23]:
# 60% training and 40% test
X_train, X_test, y_train, y_test = train_test_split(attr, spamdex, test_size=0.4, random_state=1)

##Create instance of Naive Bayes Multinomial model

In [24]:
nb = MultinomialNB()

##Fit the training data to the model

In [25]:
nb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

## Create a prediction object based on the test data

In [26]:
y_pred = nb.predict(X_test)

##Measure the accuracy of your predicted outcomes against your test data outcomes

In [27]:
metrics.accuracy_score(y_test, y_pred)

0.7783813145029875

In [28]:
#K-Fold cross-validation

from sklearn.model_selection import cross_val_score

In [29]:
scores = cross_val_score(nb, attr, spamdex, cv=10, scoring='accuracy')
print(scores)

[0.79175705 0.79347826 0.80869565 0.83478261 0.82826087 0.77826087
 0.77826087 0.81304348 0.69347826 0.74347826]

In [30]:
scores.mean()

0.7863496180326323


Not much better, really. That might lead us to believe that any one or a combination of the following is happening:

There is a weak correlation between the data provided and the measured outcomes

There are features to our data that are causing our model to overfit

Our model is not particularly effective, at least not with its current paramaters